* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo-img {
    width: 100%;
    max-width: 80px;
    margin: 0 50px;
  }
  
  header {
    height: 63px;
    background-color: #201e1e;
  }
  
  p {
    list-style: none;
    color: #fff;
    line-height: 40px;
    font-size: 1.75rem;
    text-align: center;
    padding: 10px 0;
    cursor: default;
  }