ul {
  padding: 0 !important;
  margin: 0;
  list-style: none;
  margin-top: 30px !important;
}
ul li {
  width: 100%;
  padding: 10px 45px;
}

.menu a {
  text-decoration: none;
  color: black;
  width: 100%;
}

ul li:hover  {
  background-color: #494e53;
  color: #fff;
  cursor: pointer;
}
a{
  color: #fff;
}
.menu {
  position: relative;
}
