a {
    color: black;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 18px;
  }
  
  svg {
    margin-right: 20px;
  }
  
  .link-item {
    text-decoration: none;
  }
  
  .nav-item {
    padding: 14px 0;
  }