.page-body {
    background-color: #e0d9d9b0;
    padding: 16px 8px;
    min-height: 1000px;
  }
  
  .card {
    border-radius: 5px;
  }
  
  .card-title {
    border: 1px solid #d4cece;
    padding: 16px 18px;
    background-color: #f2f2f2;
    margin-bottom: 0;
  }
  
  .card-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  
  .card-item-last {
    padding: 10px 0;
  }
  
  .title-newpage {
    padding: 10px 0;
  }
  
  .title1 {
    height: 40px;
  }
  
  .title2 {
    height: 94px;
  }
  
  .title3 {
    height: 148px;
  }
  
  .btn-img {
    border: 1px solid;
    padding: 1px 6px;
    border-radius: 3px;
  }
  
  .input-last {
    display: flex;
    flex-direction: column;
  }
  
  .input-last select,
  .input-last input {
    height: 40px;
  }
  
  .btn-group {
    display: flex;
    margin: 20px 0;
    justify-content: center;
  }
  
  .btn-search {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    max-width: 150px;
  }