.page-body {
    background-color: #e0d9d9b0;
    padding: 16px 8px;
    min-height: 1000px;
  }
  
  .card {
    border-radius: 5px;
  }
  
  .card-title {
    padding: 16px 18px;
    background-color: #f2f2f2;
    margin-bottom: 0;
  }

  .table-responsive td {
    min-width: 150px;
  }