.footer-card {
    text-align: center;
    margin: 0;
  }
  
  .footer-card p {
    font-size: 16px;
    margin: 0;
  }
  
  .footer-card a {
    color: #007bff;
    padding: 0;
    margin-left: 8px;
  }